.footer{
    background-color: #1c1c4f;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 1.2rem;
        font-weight: 800;
        color: aliceblue;
    }
}

@media (max-width:500px){
    .footer{
        background-color: #1c1c4f;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        h1{
            font-size: 1rem;
            font-weight: 800;
            color: aliceblue;
            text-align: center;
        }
    }
}